#articles:hover{
    width: 40.1%;
}
#articles2:hover{
    width: 40.1%;
}
#articles3:hover{
    width: 40.1%;
}
#articles4:hover{
    width: 40.1%;
}
#articles5:hover{
    width: 40.1%;
}
#articles6:hover{
    width: 40.1%;
}